@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #397c34;
    font-family: Arial, Helvetica, sans-serif;
}

input,
select,
button{
    height: 25px;
}

.conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.conteiner h1{
    font-size: 1.4em;
    margin: 10px auto;
}

.conteiner form{
    display: grid;
}

.conteiner form input,
.conteiner form select{
    margin: 5px auto 10px 0px;
    width: 100%;
}

button{
    background-color: #21acda;
    color: white;
    font-weight: white;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
}

button:hover{
    background-color: #60d8ff;
    transition: 0.2s;
}

.resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    background-color: #d9edf7;
    border-radius: 6px;
    border: 1px solid #bce8f1;
}

.resultado h2 {
    margin: auto;
    text-align: center;
    color: #2980b9;
    font-size: 1.3em;
}

.resultado p {
    margin: 5px auto;
    color: #34495e;
    font-size: 0.9em;
}